body{
    margin: 0 auto;
    background: url(../image/background.png);
    background-size: cover; 
    font-family: 'Poppins';
    font-size: 22px;
}

/* haut de page  */

header{
    background: url(../image/back-ecriture.png);  
}

nav{
    align-items: center; 
    margin-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 97px;
}

.acc-menu a {
   
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    padding: 32px;

}
nav img{
    display: inline-flex;
    max-width: 100%;
    width: 12vh;
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.acc-menu a:hover{
    background: rgb(237, 238, 241);
    color: black;
}
nav button{
    padding: 8px;
    border-radius: 10px;  
}
nav button a {
    text-decoration: none;
}
.connexion{
    display: none;
}
.toggle{
    display:none;
}
.connect{
    display:none;
}

/* corps */
.img-medecin{
    height: 45vh;
}
.gauche{
    margin-top: 2%;
} 

.img-medecin img{
    display: flex;
    flex-direction: row;
    width: 55vh;
    height: 85%;
    margin: 2%;
    margin-top:0% ;
    border-radius: 10px;
    /* padding: 20px ; */
}
.fonctionnement{
    background: whitesmoke ;
    padding: 20px;
    font-size: 16px;
    width: 50vh;
    border-radius: 10px;
    margin-left: 2%;
    
}
.fonctionnement P {
    text-align: justify;
}
.sep{
    height: 3px;
    background:blue;
}
.barre-vertical{
    display: flex;
    color: white;
    flex-direction:column;
    height: 82vh;
    width: 34vh;
    margin-left: 0;
    margin-top: 0%;
    margin-right:2%;
    background:#333 ; 
}
.elements-pages li { 
    list-style: none;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 32px;
}
.elements-pages li:hover{
    background: rgb(237, 238, 241);
    color: black;

}
.test-contenu{
    display: flex;
    flex-direction: row;
}
 
.scroll{
    display: flex;
    flex-direction: column;
}


.phase{
    text-align: center;
    margin: 2%;
}
.part1{
    display: flex;
    flex-direction: row;
}
.presentation{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    font-size: 16px;
    height: 68.5vh;
}
.text1{
    display: flex;
    flex-direction: column;
}
.text1 P{
    width: 93%;
    margin-right: 3%;
    margin-left: 3%;
    text-align: justify;
    font-size: 16px;
    
}
.img-medecin {
    display: flex;
    flex-direction: row;
}
.avantages{
    display: none;
    width: 85%;
    font-size: 16px;
    margin:3%;
    background-color:aliceblue;
    padding: 3%;
    border-radius: 10px;
}

.fonct{
    display:none;
}
.product{
    display: none;
}

/* bas de page */

footer{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 6.1vh;
    position:absolute;
    bottom: 0px;
    left: 0px;
    background: url(../image/back-ecriture.png);
}
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

/* responsive de la page */

@media screen and (max-width:1125px) {

    .fonctionnement{
        width: 75%;
        font-size: 13px;
    }
    .barre-vertical{
        width: 25%;
    }
    .elements-pages li {
        font-size: 12px;
        padding: 15px;
    }   
    .avantages{
        font-size: 12px;
        text-align: justify;
        padding: 5%;
    }
    .presentation p  {
        font-size: 11px;
        text-align: justify;
    }
    .presentation{
        width:90%;
        margin-left:0%;
        height: 70vh;

    }
    .gauche{
        width: 75%;
    }
    .gauche img{
        width: 86%;
        height: 60%;
    }
    
}
@media screen and (max-width:750px) {
    .elements-pages li{
        font-size: 11px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .fonctionnement p {
        font-size: 11px;
    }
    .presentation p {
        font-size: 11px;
    }
}
@media screen and (max-width:503px) {
    .product{
        display: block;
    }
    .gauche{
        display:none;
    }
    .produit{
        display: none;
    }
    .fonct{
        display: block;
    }
    .elements-pages li{
        font-size: 9px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .presentation{
        width:90%;
        margin-left:0%;
        height: 70vh;
        padding: 5%;
    }
    .presentation p {
        font-size: 9px;
    }
    .avantages{
        font-size: 10px;
    }
    .fonctionnement{
        width: 100%;
    }
    .fonctionnement p {
        font-size: 10px;
    }
    .gauche{
        width: 75%;
    }
    .gauche img{
        width: 100%;
        height: 60%;
    }
    
}

@media screen and (max-width:550px ){
    footer a {
        font-size: 12px;
    }
    
}