body{
    background-image: url(../image/background.png) ;
    display: flex;
    background-size: cover;
    margin: 0;
    flex-direction: column;
    font-family: poppins;
}

/* haut de page  */

header{
    /* background: rgb(174, 162, 162); */
    background: url(../image/back-ecriture.png);  
}

nav{
    align-items: center; 
    margin-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 97px;
    
}

.acc-menu a {
   
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    padding: 32px;

}
nav img{
    display: inline-flex;
    width: 80px;
    height: 10vh;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.acc-menu a:hover{
    background: rgb(237, 238, 241);
    color: black;
}
nav button{
    padding: 8px;
    border-radius: 10px;
    
}
nav button a {
    text-decoration: none;
}
.connexion{
    display: none;
}
.toggle{
    display:none;
}
.connect{
    display:none;
}
.b_connect a {
    text-decoration: none;
    color: black;
}

/* contenu  */
.tableau_bord {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 5%;
    padding: 3%;
    border-radius: 15px;
}
form {
    display: flex;
    justify-content: center;
}
.barre{
    width: 250px;
}
.b_envoie{
    text-decoration: none;
    padding: 6px;
    width: 70px;
    text-align: center;
    background-color: rgb(101, 137, 244);
    border: rgba(48, 48, 48, 0.5) solid 2px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
form input{
    margin: 3px;
    border-radius: 5px;
    border:black solid 2px;
    height: 40px;
}
.table{
    display: flex;
    flex-direction: row;
    height: 272px;
    border: solid 3px;
    margin-top: 5%;
    overflow: auto;
}
.ligne1{
    display: flex;
    width: 3px;
    background-color: #000;
    margin: 8px;
    height: 200px;
    
}
.ligne2{
    display: flex;
    height: 2px;
    background-color: #000;
    width: 210px;
}
.nom{
    border: solid 2px;
}
.Id{
    border: solid 2px;
}
.Id p {
    padding-left: 10px;
}

.bannir{
    border: solid 2px;
}
.consulter{
    border: solid 2px;
}
.bout{
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 5%;
    background-color: rgb(101, 137, 244);
    border: rgba(48, 48, 48, 0.5) solid 2px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}


/* bas de page */

footer{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url(../image/back-ecriture.png);
    
}
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (min-width:1024px) {
    footer{
        position: relative;
    }
    .table{
        width: 857px;
        margin: 2% auto;
    }
    .bout{
        margin-top: 2%;
    }
    .tableau_bord{
        margin: 2%;
    }
    .barre{
        width: 450px;
    }

}
@media screen and (max-width:625px) {
    footer a{
        font-size: 14px;
    }
 }

 @media screen and (max-width:1023px) {
    .open .b_connect{
        display: none;
    }
 }

 a.bouton {
    /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
    text-decoration: none;
    color: initial;
   }