body{
    margin:0 ;
    background: url(../image/fond\ de\ base\ .png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 0px 90px;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins'; 
}


/* haut de page  */

header{
    /* background: rgb(174, 162, 162); */
    background: url(../image/back-ecriture.png);  
}

nav{
    align-items: center; 
    margin-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 97px;
    
}

.acc-menu a {
   
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    padding: 32px;

}
nav img{
    display: inline-flex;
    width: 80px;
    height: 10vh;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.acc-menu a:hover{
    background: rgb(237, 238, 241);
    color: black;
}
nav button{
    padding: 8px;
    border-radius: 10px;
    
}
nav button a {
    text-decoration: none;
}
.connexion{
    display: none;
}
.toggle{
    display:none;
}
.connect{
    display:none;
}


/* contenu */

.middle-page{
    /* flex:1 0 auto; */
    margin:3%;
    /* width: 600px; 
    height: 600px; */
}
.S_connecter{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 420px;
    position: relative;
    left: 55%;
    height: 400px;
    padding:5%;
    box-shadow: 1px 1px 12px #555;
    border-radius: 5%;
    opacity:0.9;

}
.S_connecter h1{
    display: flex;
    text-align: center;
    font: caption;
    font-size: 200%;
    font-weight: bold;
    
}
.S_connecter p{
    display: flex;
    text-align: justify;
    font: caption;
    margin-top: 30px;
    /* font-family: 'Poppins'; font-size: 12px; */
}

form div{
display: flex;
flex-direction: column;
margin-top: 5%;
font-weight: 550;

}

form button {
    height: 35Px;
    font-weight: 750;
    font-size: 20px;
    background-color: rgb(76, 134, 209);
    color: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    

}

form input{
    /* background-color: rgba(219, 223, 222, 0.384); */
    border-radius: 5px;
    margin-left: 3%;
    background-color: #cccbcb;
    border: solid 0px;
    height: 25px;
    
    /* width: 70%; */
}
.leform{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 500px;
}
.fa-solid {
    color: rgb(76, 134, 209);
}
.space-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space-mail input{
    width: 100%;
}
.space-mdp input{
    width: 100%;
}

.space-mdp{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.case-cauche{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.bout-connect{
    /* margin-bottom: 5%; */
    margin-top: 5%;
    margin-left: 3%;
    

}

/* bas de page */

footer{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    position:absolute;
    bottom: 0px;
    left: 0px;
    background: url(../image/back-ecriture.png);
    
}
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
 
@media screen and (max-width: 1270px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .S_connecter{
        position: relative;
        left: 10%;
        height: 435px;
   
    }
}
@media screen and (max-height:720px) {
    footer{
        position: relative;
    }
}
@media screen and (max-width:500px) {
    @media screen and (min-height:610px) {
        footer{
            position: absolute;
        }
}
}