body{
    background: url(../image/background.png);
    margin: 0 auto;
    /* background-repeat: no-repeat; */
    background-size: 100%;
}
/* haut de page  */

header{
  /* background: rgb(174, 162, 162); */
  background: url(../image/back-ecriture.png);  
}

nav{
  align-items: center; 
  margin-left: 3%;
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
  height: 97px;
  
}

.acc-menu a {
 
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-size: 16px;
  align-items: center;
  padding: 32px;

}
nav img{
  display: inline-flex;
  width: 80px;
  height: 10vh;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.acc-menu a:hover{
  background: rgb(237, 238, 241);
  color: black;
}
nav button{
  padding: 8px;
  border-radius: 10px;
  
}
nav button a {
  text-decoration: none;
}
.connexion{
  display: none;
}
.toggle{
  display:none;
}
.connect{
  display:none;
}


.centredepage{
    left: 20%;
    position: relative;
    margin:3%;
    box-shadow: 1px 1px 12px #555;
    border-radius: 5%;
    width: 100vh; 
    height: 70vh;
    opacity: 0.5;
    background-color: aliceblue;
    
}
.parent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    }
    
.lafaq { 
    margin: auto;
    grid-area: 1 / 3 / 6 / 7; 
    }
.titre { 
    font-size :400%;
    grid-area: 1 / 1 / 3 / 3; 
    text-align: center;
}
.letitre{
    margin-top: 40%;
    opacity: 1;
    font-weight: bold;
    color: black;

}
.image { 
    grid-area: 3 / 1 / 6 / 3; 
}


  
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .row {
    display: flex;
  }

  
  /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  
  .tab {
    width: 100%;
    color: bl;
    overflow: hidden;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: rgb(76, 134, 209);
    font-weight: bold;
    cursor: pointer;
    /* Icon */
  }
  .tab-label:hover {
    background: #d4dfea;
  }
  .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: rgb(76, 134, 209);
    cursor: pointer;
  }
  .tab-close:hover {
    background: #d4dfea;
  }
  
  input:checked + .tab-label {
    background: #d4dfea;
  }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
    color: rgb(76, 134, 209);
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

  
/* bas de page */

footer{
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  position:absolute;
  bottom: 0px;
  left: 0px;
  background: url(../image/back-ecriture.png);
  
}
footer a{
  display: inline-flex;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}