body{
    display: flex;
    background-size: cover;
    margin: 0;
    flex-direction: column;
}

/* haut de page  */

header{
    /* background: rgb(174, 162, 162); */
    background: url(../image/back-ecriture.png);  
}

nav{
    align-items: center; 
    margin-left: 3%;
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    height: 97px;
    
}

.acc-menu a {
   
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    padding: 32px;

}
nav img{
    display: inline-flex;
    width: 80px;
    height: 10vh;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.acc-menu a:hover{
    background: rgb(237, 238, 241);
    color: black;
}
nav button{
    padding: 8px;
    border-radius: 10px;
    
}
nav button a {
    text-decoration: none;
}
.connexion{
    display: none;
}
.toggle{
    display:none;
}
.connect{
    display:none;
}


/* contenu */

.contenu{   
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100%;
    position: relative;
    background-color: red;
    width: 55%;
    margin-top: 7%;
    margin:auto ;
    opacity: 0.92;
}
.champ{  
    display:  flex;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content:center;
    padding: 1.8% 0;

}

.form-page{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.text-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;   

}
.separation{

    height: 2px;
    background-color:rgb(76, 134, 209);;
}


/* bas de page */

footer{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    position:absolute;
    bottom: 0px;
    left: 0px;
    background: url(../image/back-ecriture.png);
    
}
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

