
.separation{
    
    height: 2px;
    background-color:rgb(76, 134, 209);;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
    font-size: 17px;
}

.contenu{
    display: flex;
    flex-direction: row;
    /* flex:1 0 auto;
    min-height: 100%;
    position: relative;
    margin:3%; */
}
.form-page{
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-size: 19px;
}

.form-title{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px; 
    opacity: 0.92;
    width: 75%; 
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin: 3%;
}

.barre-verticale{
    display: flex;
    width: 15%;
    height: 82vh;
    flex-direction: column;
    background-color: #333;
    margin-top: 0%;
    margin-left: 0%;
    color: white;
    list-style: none;
}
.barre-verticale li {
    padding: 22px;
    font-size: 14px;
}
.barre-verticale li:hover{
    background-color: white;
    color: black;
}
.hebergeur{
    display: none;
}
.information{
    display: none;
}
.objet{
    display: none;
}
.liberte{
    display: none;
}
.limitation{
    display: none;
}

/* bas de page */

footer{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 40px;
    position:relative;
    bottom: 0px;
    left: 0px;
    background: url(../image/back-ecriture.png);
    
}
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}


@media screen and (max-width:1000px) {
    .form-page{
        font-size: 15px;
    }
    .form-title{
        width: 75%;
    }
    .barre-verticale{
        width: 25%;
    }
    p{
        font-size: 14px;
    }
}
@media screen and (max-width:500px) {
    .form-page p {
        font-size: 10px;
    }
    .form-page h1{
        font-size: 12px;
    }
    .form-page h2{
        font-size: 10px;
    }
    .barre-verticale li{
        font-size: 8px;
    }
  
    .form-title{

        padding: 15px;
    }
    .form-page{
        width: 40%;
    }
    .form-title p {
        width: 55%;
    }
    footer a {
        font-size: 9px;
    }
}