
@media screen and (max-width:1145px){
    .toggle{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 3%;
    }
    .toggle .fermer{
        display: none; 
    
    }
    .toggle .ouvrir{
        display: block;
        color: black;
    }
  
    .open .ouvrir{
        display: none;
    }
    .open .fermer{
        display: block;
        color: black;
    }
    .open footer{
        display: none;
    }
    
    .acc-menu {
        display: flex;
        list-style: none;
        position: absolute;
        top: 0px;
        right: 0;
        width:  94%;
        height: 720px;
        background: #000;
        margin-top: 97px;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .acc-menu a{
        font-size: 35px; 
    }
    .connect {
        display: flex;
    }
  
    .open .acc-menu {
        transform: translateX(0);
    }
    .open .accueil-text{
        display: none;
        transition: 1s;
    }
    .open .big-title{
        display: none;
        transition: 3s;
    }
    .open .landing-page{
        display: none;
    }
    nav button{
        display: none;
    }
    /* profil */
    .open .form-title{
        display: none;
    }
    /* page d'accueil */
    .open .landing-page{
        background: none;
    }
    .open .presentation{
        display: none;
    }
    .open .phase{
        display: none;
    }
    /* page inscription */
    .open .F_contenu{
        display: none;
    }
    /* Page connexion */
    .open .S_connecter{
        display: none;
        transition: 1s;
    }

    /* nous contacter */
    .open .form-page{
        display: none;
    }
}

@media screen and (max-width:720px) {
    .landing-page{
        display: flex;
        flex-direction: column;
        margin: 6%;
    }
    .S_connecter{
        width: 270px;
        position: none;
        left: 0%;
        height: 400px;
        margin: 1%;
        margin-bottom: 5%;
        font-size: 85%;
    }
   .S_connecter P{
       font-size: 85%;
   }
   
}

@media screen and (min-width:1640px) {
    nav button{
    font-size: 30px;
    border-radius: 20px;
    padding: 15px;
    }
    .acc-menu a{
        font-size: 28px;
        padding: 45px;
    }
    .landing-page{
        align-items: center;
    }
    .big-title{
        font-size: 60px;
    }
    .accueil-text{
        font-size: 30px;
    }
    footer a {
        font-size:30px
    }
    @media screen and (max-height:910px) {
        footer{
            position: relative;
        }
    }
    .S_connecter{
        font-size: 120%;
        width: 600px;
    }
    .S_connecter h1{
        text-align: center;
    }
    
}

 @media screen and (max-width:500px) {
     /* footer{
         position: relative;
     } */
    footer a{
        font-size: 14px;
    }
   
    .form-title{
        width: 290px;
    }
    .text{
        text-align: center;
    }
} 

